.auth {
    display: flex;
    flex-direction: column;
    height: 93vh;
    justify-content: center;
    align-items: center;
    z-index: -1;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
}

.auth-container {
    width: 45rem;
}
@media only screen and (max-width: 460px) {
    .auth-page {
        width: 100%;
    }
}
.authSelect {
    display: flex;
    width: inherit;
    justify-content: center;
}
.authSelect > * {
    background-color: #000000;
    color: white;
    height: 5rem;
    font-weight: 600;
    flex: 1;
    padding-top: 0.5rem;
    padding-bottom: 3px;
    border: none;
    cursor: pointer;
}
.authSelect > *:not(.active):hover {
    background-color: #333333;
}
.active {
    border-bottom: 3px solid #1ed760;
    padding-bottom: 0;
}
.form {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: inherit;
    padding: 3rem 10rem 5rem 10rem;
    box-sizing: border-box;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}
@media only screen and (max-width: 460px) {
    .form {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}
.form__title {
     padding-bottom: 1rem;
     font-weight: 700;
     font-size: 2.5rem;
 }

.control {
    margin-bottom: 2rem;
}
.control__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #f4f2f2;
    border: 1px solid black;
    height: 3rem;
    width: 20rem;
    padding: 0 1rem;
    border-radius: 10px;
}

.actions__button {
    background-color: #1ed760;
    border: 1px solid darkgreen;
    font-weight: 600;
    font-size: 1.25rem;
    width: 20rem;
    height: 3rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.actions__button:hover {
    background-color: #52da80;
}

.button {
    height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.76);
    border: 2px solid black;

    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    padding-left: 1.5rem;
    padding-right: 1.5rem;

    border-radius: 1.5rem;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.2s ease-in-out;
}

.button__logo {
    width: 2rem;
    height: 2rem;
}

.button__text {
    font-weight: 400;
    font-size: 1.25rem;
    color: white;
}

.divider {
    border: 1px solid #000000;
    width: 30rem;
    margin: 40px 0;
}